@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');



.body{
    font-family: "Poiret One", sans-serif;
    font-size: 40px;
    color: white;
    background-color: #7c5f61;
}

/* Шапка */
.h-er{
    font-size: 40px;
width: 100%;    
font-family: "Poiret One", sans-serif;
height: 182px;
    background-image: url(img/header.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}



.logo-div{
    margin: 25px 0 0 39%;
    position: absolute;
    width: 22%;
}
.otz{
    color: white;
    float: left;
    margin: 50px 0px 0px 5%;
    cursor: pointer;
    text-decoration: none;
}
.faq{
    color: white;
    float: right;
    cursor: pointer;
    margin: 50px 5% 0 0;
    text-decoration: none;
}
.faqg {
    color: white;
    float: right;
    cursor: pointer;
    margin: 5% 58% 0 0;
    text-decoration: none;
}






.logo{
    margin-left: 25px;
    cursor: pointer;
    border-radius: 50%;
}





.otz:hover{
    
    border-bottom: 1px solid white;
}
.logo:hover{
    border: 1px solid white;
}
.faq:hover{
    border-bottom: 1px solid white;
}




.aut{
    float: right;
    height: 75%;
    margin: 25px 0 0 0;
    width: 350px;
    text-align: center;
}
.butt-aut-1 {
    width: 160px;
    height: 80px;
    background: #5A4546;
    color: white;
    border: none;
    font-size: 40px;
    font-family: "Poiret One", sans-serif;
    border-radius: 30px;
    cursor: pointer;
}
.butt-aut-2{
    background: none;
    color: white;
    border: none;
    font-size: 40px;
    font-family: "Poiret One", sans-serif;
    cursor: pointer;
}
.butt-aut-1:hover{

   background: #7b6162 ;
}

.butt-aut-2:hover{

    border-bottom: 1px solid white;
}

/* Шапка Конец */

/* main */
.str{
    width: 100%;
    z-index: -1;
      min-height: 900px;
    height: 100%;
    padding: 0 0 5% 0;
    background-color: #7c5f61;
}

.categories{
background: #5A4546;
min-height: 50px;
height: 100%;
width: 97%;
padding: 25px;
margin: 2% 0 0 0;
font-size: 40px;
text-align: center;
color: white;
font-family: "Poiret One", sans-serif;
display: inline-grid;
grid-template-columns: auto auto auto auto;
}

.cat-r{
cursor: pointer;
color: white;
margin-top: 20px;
text-decoration: none;

}
.cat-r:hover{
border-bottom: 1px solid white;

}

.search {
    width: 32%;
    height: 40px;
    background: #5A4546;
    color: white;
    font-family: "Poiret One", sans-serif;
    font-size: 40px;
    padding: 10px;
    border-radius: 25px;
    margin: 25px 0 0 35%;

}

.items {
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 370px 370px 370px 370px;
    gap: 70px;
    margin: 80px 0 0 80px;
}

.item {
    height: 605px;
    width: 370px;
  
        border-radius: 30px;
    
}
.skin-img{
border-radius: 30px;
border: 5px solid #5A4546;
z-index: 0;
width: 369px;
    position: absolute;
    height: 605px;
}

.stats{
    background: #5A4546;
border-radius: 30px;
opacity: 95%;;
width: 370px;
position: absolute;
height: 300px;
text-align: center;
margin: 315px 0 0 4px;
}
.bod{
    font-family: "Poiret One", sans-serif;
    font-size: 40px;
    color: white;
    background-color: #7c5f61;
}
.item-skin{

    background: none;
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-size: 40px;
    text-decoration: none;
}
.btn{
    background-color: #FED15C;
    border: none;
    font-family: "Poiret One", sans-serif;
    padding: 12px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 21px;
}
.alert{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    color: black;
    background: #FED15C;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}



/* Конец main */

/* bottom */

.bott{
    background-color: #5A4546;
    width: 100%;
    height: 240px;
    display: block;
    font-family: "Poiret One", sans-serif;
    color: white;
    text-align: center;
    margin: 0 0 0 0;
}
.zag{
    position: absolute;
    font-size: 64px;
    margin: 20px 0 0 37%;
}
.us-yes{

    position: absolute;
    font-size: 40px;
    margin: 6% 0 0 -13%;
    cursor: pointer;

}
.us-yes:hover{
border-bottom: 1px solid white;

}
/* Конец bottom */
.btn-del{
    background-color: #FED15C;
    border: none;
    font-family: "Poiret One", sans-serif;
    padding: 12px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 21px;
    color: red;
}


/* dop */

.exit-img{
    float: right;
    margin: 51px 20px 0 0px;
}
.butt-prof-1{
    height: 100px;
    width: 330px;
    float: right;
    margin: -84px 70px 0 0px;
    color: white;
}
.prof-img{
    width: 90px;
    height: 90px;
    float: left;
    border-radius: 10px;
}
.prof-name-1{
    float: right;
    margin: 10px 80px 0 0;
    font-size: 36px;
}
.prof-balance{
    font-size: 36px;
    float: left;
    color: #FED15C;
    margin: 0px 0 0 17px;
}